.custom-box {
  background-color: transparent;
  border: 1px solid transparent;
  /* border: 2px solid white; */
  height: 32%;
  width: 30%;
  margin: auto;
}

.logo {
  height: 55px;
  width: auto;
}

.grid {
  position: absolute;
  right: 24%;
  bottom: 0%;
  width: 52%;
  height: 95%;
}

@media (max-width: 768px) {
  .grid {
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 95%;
  }

  .custom-box {
    width: 33%;
  }
}
