.custom-box {
  background-color: transparent;
  border: 1px solid transparent;
  /* border: 2px solid white; */
  height: 32%;
  width: 31%;
  margin: auto;
}

.logo {
  height: 55px;
  width: auto;
}
